{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>
    {% block title %} {% endblock title %}
    | Blog Project
  </title>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark font-italic">
  <a class="navbar-brand font-weight-bold" href="/">Blog Project</a>
  <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">logout</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/signup">Signup</a>
      </li>
      {% endif %}
    </ul>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        {% block msg %}{% endblock msg %}
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% block side %}{% endblock side %}
      {% block content %}{% endblock content %}
    </div>
  </div>

  <script type="text/javascript" src={% static 'js/jquery.js' %}></script>
  <script type="text/javascript" src={% static 'js/bootstrap.js' %}></script>
</body>
</html>
