{% extends 'base.html' %}
{% block title %}Update{% endblock title %}
{% block content %}
<div class="container my-5">
  <div class="jumbotron jumbotron-fluid">
  <div class="container text-center font-italic">
    <h1>Update Post</h1>
    <p class="text-capitalize">Welcome {{request.user}} to Dashboard page</p>
    <form action="" method="post" enctype="multipart/form-date" class="p-5" novalidate>
        {% csrf_token %}
        {{form.as_p}}
        <input class="btn btn-outline-success rounded-0 font-italic" type="submit" value="Update" />
        <a class="btn btn-outline-danger rounded-0 font-italic" href="/dashboard" >Cancel</a>
    </form>
  </div>
</div>
{% endblock content%}